#backgroundPrimary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
  position: relative;
}

#ratingCard {
  color: hsl(0, 0%, 100%);
  background-image: radial-gradient(
    circle at top,
    hsl(213, 19%, 18%),
    hsl(216, 12%, 10%)
  );
}

#divWarning {
  justify-content: center;
  align-items: center;
  position: absolute;
  background-image: radial-gradient(
    circle at top,
    hsl(213, 19%, 28%),
    hsl(217, 18%, 24%)
  );
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: hsl(217, 12%, 70%);
  display: none;

  animation-name: animationWarning;
  animation-duration: 0.5s;
}

#buttonClose {
  color: hsl(25, 97%, 53%);
}

#cardHeader {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}

#cardContent {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}

.disabled {
  display: none;
}

#ratingCardSubmitted {
  color: hsl(0, 0%, 100%);
  background-image: radial-gradient(
    circle at top,
    hsl(213, 19%, 18%),
    hsl(216, 12%, 10%)
  );
  text-align: center;
  font-family: "Overpass", sans-serif;
}

#divRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratingButtons {
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 23%);
  border: none;
  cursor: pointer;
}

.buttonActive {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border: none;
  cursor: pointer;
}

.buttonHovered {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
  border: none;
  cursor: pointer;
}

#buttonSubmit {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

#iconStar {
  background-color: hsl(216, 12%, 23%);
  border: none;
}

#ratingContainer {
  text-align: center;
}

#userRating {
  font-weight: 700;
  color: hsl(25, 97%, 53%);
}

#thanks {
  font-weight: 700;
}

#cardContentSubmitted {
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}

/* Desktop Responsive Query */
@media screen and (min-width: 769px) {
  /* Rating State Style */

  #ratingCard {
    padding: 2em;
    border-radius: 1.5vw;
    max-width: 24vw;
  }

  #divWarning {
    padding: 1em 0.5em 1em 1em;
    border-radius: 0.75vw;
    box-shadow: 0 0 2em 0 #000;
    font-size: 1.25rem;
  }

  #buttonClose {
    margin-left: 0.5em;
    font-size: 1.75rem;
    cursor: pointer;
  }

  .ratingButtons {
    border-radius: 50%;
    font-size: 1.25rem;
    padding: 0.4em 0.75em 0.4em 0.75em;
    margin: 1em 1em 0 0;
    float: left;
  }

  .buttonActive {
    border-radius: 50%;
    font-size: 1.25rem;
    padding: 0.4em 0.75em 0.4em 0.75em;
    margin: 1em 1em 0 0;
    float: left;
  }

  .buttonHovered {
    border-radius: 50%;
    font-size: 1.25rem;
    padding: 0.4em 0.75em 0.4em 0.75em;
    margin: 1em 1em 0 0;
    float: left;
  }

  #iconStar {
    border-radius: 50%;
    padding: 0.15em;
  }

  #buttonSubmit {
    border-radius: 5vw;
    padding: 0.75em 0 0.75em 0;
    width: 24vw;
    margin-top: 2.5em;
  }

  #cardHeader {
    font-size: 2rem;
  }

  /* Submit State Syle */

  #ratingCardSubmitted {
    padding: 2em;
    border-radius: 1.5vw;
    max-width: 23vw;
  }

  #userRating {
    padding: 0.25em 1em 0.25em 1em;
    background-color: hsl(216, 12%, 23%);
    border: none;
    display: inline-flex;
    margin: 1.5em 0 0 1em;
    border-radius: 1.5vw;
  }

  #thanks {
    font-size: 2rem;
  }

  #cardContentSubmitted {
    margin-top: -1em;
  }
}
/* Mobile Responsive Query */
@media screen and (max-width: 768px) {
  #ratingCard {
    padding: 1.5em;
    border-radius: 1.5vw;
    max-width: 42vw;
  }

  #divWarning {
    padding: 1em 0.5em 1em 1em;
    border-radius: 2vw;
    box-shadow: 0 0 2em 0 #000;
    font-size: 1rem;
  }

  #buttonClose {
    margin-left: 0.5em;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .ratingButtons {
    border-radius: 50%;
    font-size: 1rem;
    margin-top: 1em;
  }

  .buttonActive {
    border-radius: 50%;
    font-size: 1rem;
    margin-top: 1em;
  }

  .buttonHovered {
    border-radius: 50%;
    font-size: 1rem;
    margin-top: 1em;
  }

  #iconStar {
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.25em;
  }

  #buttonSubmit {
    border-radius: 5vw;
    padding: 0.75em 0 0.75em 0;
    width: 42vw;
    margin-top: 2em;
  }

  #cardHeader {
    font-size: 2rem;
  }

  /* Submit State Syle */

  #ratingCardSubmitted {
    padding: 2em;
    border-radius: 1.5vw;
    max-width: 42vw;
  }

  #userRating {
    padding: 0.75em 1.75em 0.75em 1.75em;
    background-color: hsl(216, 12%, 23%);
    border: none;
    display: inline-flex;
    margin: 1.5em 0 0 1em;
    border-radius: 3vw;
    font-size: 0.6rem;
  }

  #thanks {
    font-size: 1.5rem;
  }

  #cardContentSubmitted {
    margin-top: -1em;
  }
}

@keyframes animationWarning {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 42.5%;
    opacity: 1;
  }
}
